.laundro-footer-logo img{
     border-radius: 100%;
}
.scrolltop-btn i{
     transform: rotate(90deg)
}
#ct-loadding{
     display: none;
}













.ab-service-section {
	padding: 100px 0 120px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.ab-service-section .ab-service-top {
	padding: 0 60px;
}

@media (max-width: 991.98px) {
	.ab-service-section .ab-service-top .bf-desc {
		margin-top: 20px;
	}
}

@media (max-width: 767.98px) {
	.ab-service-section .ab-service-top {
		padding: 0;
		text-align: center;
	}
}

.ab-service-section .ab-service-slider .laundro-service-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	margin-bottom: 30px;
}

.ab-service-section .ab-service-slider .laundro-service-item .laundro-icon-wrapper span {
	width: 80px;
	height: 80px;
	color: #ffffff;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	font-size: 30px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.ab-service-section .ab-service-slider .laundro-service-item .laundro-icon-wrapper span::before {
	content: '';
	position: absolute;
	left: -5px;
	bottom: -5px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/* background-color: #22d3ee; */
	z-index: 2;
}

.ab-service-section .ab-service-slider .laundro-service-item .laundro-icon-wrapper span i {
	background-color: #082680;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.ab-service-section .ab-service-slider .laundro-service-item .laundro-service-content {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(12, 12, 12, 0.16);
	box-shadow: 0px 0px 20px 0px rgba(12, 12, 12, 0.16);
	padding: 35px 35px 35px 50px;
	margin-left: -50px;
	position: relative;
	z-index: 1;
}

.ab-service-section .ab-service-slider .laundro-service-item .laundro-service-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/images/sr-item-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.ab-service-section .ab-service-slider .laundro-service-item .laundro-service-content h5 {
	margin-bottom: 6px;
}

.ab-service-section .ab-service-slider .laundro-service-item:hover {
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.ab-service-section .ab-service-slider .laundro-service-item:hover .laundro-icon-wrapper span i {
	background-color: #ffffff;
	color: #082680;
}

.ab-service-section .ab-service-slider .laundro-service-item:hover .laundro-service-content::before {
	opacity: 1;
}

.ab-service-section .ab-service-slider .laundro-service-item:hover .laundro-service-content h5 {
	color: #ffffff;
}

.ab-service-section .ab-service-slider .laundro-service-item:hover .laundro-service-content p {
	color: #ffffff;
}

.ab-service-section .ab-service-slider .slick-list {
	padding: 30px 0;
	margin: 0 -15px;
}

.ab-service-section .ab-service-slider .slick-list .slick-slide {
	margin: 0 15px;
}

.ab-service-section .ab-service-slider .slick-dots {
	position: absolute;
	bottom: -30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.ab-service-section .ab-service-slider .slick-dots li {
	display: inline-block;
	margin-right: 6px;
}

.ab-service-section .ab-service-slider .slick-dots li button {
	width: 15px;
	height: 15px;
	font-size: 0;
	padding: 0;
	border-radius: 50%;
	background-color: #8b90a7;
	border: 1px solid transparent;
	padding: 5px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.ab-service-section .ab-service-slider .slick-dots li.slick-active button {
	width: 18px;
	height: 18px;
	background-color: #22d3ee;
	border: 1px solid #0431b8;
}

.ab-service-slider .owl-item .item{
	padding: 15px;
}

@media (max-width: 991.98px) {
	.ab-service-section .ab-service-slider {
		margin-top: 20px;
	}
}

@media (max-width: 767.98px) {
	.ab-service-section .ab-service-slider {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}





















/****************************** Team Section ***********************/

.laundro-team-area {
	background-color: #e3e8ed;
}

.laundro-team-area .laundro-title-area {
	padding-left: 60px;
}

.laundro-team-area .laundro-team-container .laundro-team-single {
	background-color: #ffffff;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	overflow: hidden;
	margin-bottom: 50px;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-img-wrapper {
	position: relative;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-img-wrapper::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% + 20px);
	height: 40px;
	-webkit-clip-path: polygon(0 0, 100% 70%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 70%, 100% 100%, 0% 100%);
	background-color: #22d3ee;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-img-wrapper::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
	width: calc(100% + 20px);
	height: 40px;
	-webkit-clip-path: polygon(0 0, 100% 70%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 70%, 100% 100%, 0% 100%);
	background-color: #ffffff;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-team-content {
	padding: 20px;
	position: relative;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-team-content .team-social-link {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	background-color: #0431b8;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	border-radius: 0 0 25px 25px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-team-content .laundro-team-social-items {
	display: inline-block;
	position: absolute;
	right: 20px;
	bottom: 90px;
	border-radius: 25px 25px 0 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-team-content .laundro-team-social-items a {
	color: #ffffff;
	width: 50px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #0431b8;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-team-area .laundro-team-container .laundro-team-single .laundro-team-content .laundro-team-social-items a:hover {
	padding-left: 10px;
}

.laundro-team-area .laundro-team-container .laundro-team-single:hover {
	-webkit-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(12, 12, 12, 0.16);
	box-shadow: 0px 0px 20px 0px rgba(12, 12, 12, 0.16);
}

.laundro-team-area .laundro-team-container .laundro-team-single:hover .laundro-team-content .team-social-link {
	background-color: #ffffff;
	color: #22d3ee;
}

.laundro-team-area .laundro-team-container .laundro-team-single:hover .laundro-team-content .laundro-team-social-items {
	bottom: 70px;
	opacity: 1;
	visibility: visible;
}

.laundro-team-area .laundro-team-container .slick-list {
	padding: 60px 0;
	margin: 0 -15px;
}

.laundro-team-area .laundro-team-container .slick-list .slick-slide {
	margin: 0 15px;
}

.laundro-team-area .laundro-team-container .slick-dots {
	position: absolute;
	bottom: -20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.laundro-team-area .laundro-team-container .slick-dots li {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid transparent;
	padding: 3px;
	text-align: center;
	line-height: 20px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-team-area .laundro-team-container .slick-dots li button {
	font-size: 0;
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	border-radius: 50%;
	background-color: #8b90a7;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-team-area .laundro-team-container .slick-dots li.slick-active {
	border: 2px solid #0431b8;
}

.laundro-team-area .laundro-team-container .slick-dots li.slick-active button {
	background-color: #0431b8;
}

@media (max-width: 575.98px) {
	.laundro-team-area .laundro-title-area {
		text-align: center;
		padding-left: 0;
	}
	.laundro-team-area .laundro-team-container {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

.laundro-team-slider .owl-item .item{
	padding: 15px;
}