#notComplete,
#submitGood,
#dbError {
  display: none;
}

#results {
  margin: 0 auto;
  text-align: center;
  width: 600px;
  margin-top: 50px;
  color: #222;
}

/*form styles*/
#msform {
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;

  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: absolute;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea,
#msform select {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #222;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #DA4453;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #DA4453;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #222;
  text-transform: uppercase;
  font-size: 14px;
  width: 15%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #FFF;
  background: #222;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #222;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #006BCC;
  color: white;
}




.booking-card {
  padding: 15px;
  text-align: left;
}

.booking-card .title p {
  margin: 15px 0;
  text-align: justify;
}

.booking-card .select-order-duration ul li {
  display: inline-block;
  background: #efefef;
  padding: 15px 25px;
  margin: 15px 15px 0 0;
  cursor: pointer;
}

.booking-card .select-order-duration ul li:hover {
  background: #22d3ee;
}

.booking-summary {
  background: #eefbfd;
  border-radius: 5px;
  padding: 15px;
}

.booking-summary h4 {
  margin-bottom: 15px;
}

.booking-summary table {
  width: 100%;
}

.booking-summary table tr td {
  padding: 5px 0;
}

.booking-summary table tr td:nth-child(1) {
  text-align: left;
}

.booking-summary table tr td:nth-child(2) {
  text-align: right;
}

.booking-summary table tr.total-amount {
  border-top: 1px solid #006BCC;
}

.booking-summary table tr.total-amount td {
  color: #006BCC;
  font-weight: bold;
}

.next-step {
  text-align: right;
}

.next-step button,
.next-step a {
  background: #22d3ee;
  padding: 10px 20px;
  color: white;
  width: max-content;
  margin: 0 15px 0 auto;
  display: inline-block;
  border: none;
}

.next-step button:hover,
.next-step button:hover {
  background: #006BCC;
}

.next-step button:nth-child(1),
.next-step a:nth-child(1) {
  background: #006BCC;
}

.next-step button:hover:nth-child(1),
.next-step a:hover:nth-child(1) {
  background: #22d3ee;
}

.booking-card .how-many-hour ul li {
  display: inline-block;
  margin-right: 15px;
}

.booking-card .how-many-hour ul {
  display: inline-block;
  background: #006BCC;
  padding: 5px;
  border-radius: 30px;
  margin-top: 10px;
}

.booking-card .how-many-hour ul li:nth-child(1) {
  background: white;
  border-radius: 100%;
  padding: 0 5px;
  cursor: pointer;
}

.booking-card .how-many-hour ul li:nth-child(2) {
  color: white;
}

.booking-card .how-many-hour ul li:nth-child(3) {
  background: white;
  border-radius: 100%;
  padding: 0 5px;
  margin-right: 0;
  cursor: pointer;
}

.choose-date ul {
  margin-top: 15px;
}

.choose-date ul li {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.choose-date ul li span {
  display: block;
  text-align: center;
}

.choose-date ul li span.date {
  background: #dbfaff;
  text-align: center;
  padding: 5px 15px;
}

.choose-date ul li span.date:hover {
  background: #22d3ee !important
}

.choose-time ul li {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #dbfaff;
  padding: 5px 15px;
}

.choose-time ul li:hover {
  background: #22d3ee !important
}

.payment-method ul li {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #dbfaff;
  padding: 5px 15px;
}

.payment-method ul li:hover {
  background: #22d3ee !important
}


.service-item-card {
  border: 1px solid #f1ecec;
  margin-bottom: 15px;
  padding: 15px;
}

.service-item-card .service-information a {
  font-weight: bold;
  color: #006bcc;
  font-size: 12px;
}

.service-item-card .service-information a:hover {
  color: #22d3ee;
}

.service-item-card.selected {
  border: 1px solid #006bcc;
}

.service-item-card .service-buttons .add-btn {
  border: none;
  background: #006bcc;
  color: white;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 30px;
}

.service-item-card .service-buttons .remove-btn {
  border: none;
  background: #22d3ee;
  color: white;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 30px;
}

.service-item-card .service-buttons {
  text-align: center;
  padding: 10px 0;
}

.service-item-card .service-buttons .add-btn .fas,
.service-item-card .service-buttons .remove-btn .fas {
  margin-right: 5px;
}

.service-item-card .service-buttons .add-btn:hover {
  background: #22d3ee;
}

.service-item-card .service-buttons .remove-btn:hover {
  background: #006bcc;
}

.service-instruction {
  position: fixed;
  background: rgba(1, 1, 1, 0.5);
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.service-instruction .instruction-box {
  position: absolute;
  background: white;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 25px 15px 25px;

}

.service-instruction .instruction-box.scroll {
  overflow: scroll;
  overflow-x: hidden;
}

.service-instruction .instruction-box .item {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
}

.service-instruction .instruction-box .item:hover {
  background: #f7f7f7;
}

.service-instruction .instruction-box .item img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.service-instruction .instruction-box .item button {
  border: none;
  background: #006bcc;
  color: white;
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  border-radius: 6px;
}

.service-instruction .instruction-box .item button:hover {
  background: #22d3ee;
}

.service-instruction .instruction-box .item p {
  margin: 3px 0;
}

.service-instruction .fas {
  position: absolute;
  right: 15px;
  top: 15px;
  color: red;
  cursor: pointer;
}





















.step-bar {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.step-bar__item {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  text-decoration: none;
  color: #333;
  background-color: #dfdfdf;
  text-align: center;
  position: relative;
  border-right: 2px solid #fff;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.step-bar__item a,
.step-bar__item a:visited,
.step-bar__item a:hover {
  display: block;
  padding: 10px 15px 9px 25px;
  text-decoration: none;
  color: #333;
}

.step-bar__item:before,
.step-bar__item:after {
  content: "";
  height: 0;
  width: 0;
  border-width: 18px 0 18px 18px;
  border-style: solid;
  position: absolute;
  left: 100%;
  top: 0;
}

.step-bar__item:before {
  border-color: transparent transparent transparent #fff;
  left: 0;
}

.step-bar__item:after {
  border-color: transparent transparent transparent #dfdfdf;
  z-index: 1;
}

.step-bar__item:first-child:before {
  display: none;
}

.step-bar__item:last-child {
  border-right: none;
}

.step-bar__item:last-child:after {
  display: none;
}

.step-bar__item:hover {
  background-color: #d4d4d4;
}

.step-bar__item:hover:after {
  border-left-color: #d4d4d4;
}

.step-bar__item_active {
  background-color: #006bcc;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.step-bar__item_active a,
.step-bar__item_active a:visited,
.step-bar__item_active a:hover {
  text-decoration: none;
  color: #fff;
}

.step-bar__item_active:after {
  border-color: transparent transparent transparent #006bcc;
}

.step-bar__item_active:hover {
  background-color: #006bcc;
}

.step-bar__item_active:hover:after {
  border-left-color: #006bcc;
}

.step-bar_size_xl .step-bar__item a,
.step-bar_size_xl .step-bar__item a:visited,
.step-bar_size_xl .step-bar__item a:hover {
  padding: 10px 31px 9px 53px;
}

.step-bar_size_xl .step-bar__item:before,
.step-bar_size_xl .step-bar__item:after {
  border-width: 27px 0 27px 27px;
}

.order-track-title {
  margin-bottom: 15px;
}

.order-details-block {
  background: #dfdfdf;
  margin: 15px;
  margin-left: unset !important;
  margin-right: unset !important;
}

.auth-section {
  padding: 0 !important;
  padding-bottom: 30px !important;
}