

@media( min-width: 320px ) and ( max-width: 500px ){

     .please-wait img{
          width: 100%;
     }

}


















@media( min-width: 500px ) and ( max-width: 768px ){

     .please-wait img{
          width: 100%;
     }

}




















@media( min-width: 768px ) and ( max-width: 990px ){

     .please-wait img{
          width: 100%;
     }

}