/************************ laundro Contact Info ***********************/

.laundro-contact-info .laundro-title-area {
	text-align: center;
}

.laundro-contact-info .laundro-contact-content {
	margin-top: 60px;
}

.laundro-contact-info .laundro-contact-content .laundro-contact-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #eaeaea;
	padding: 30px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	margin-bottom: 30px;
}

.laundro-contact-info .laundro-contact-content .laundro-contact-column .laundro-icon-wrapper i {
	font-size: 40px;
	color: #ffb400;
}

.laundro-contact-info .laundro-contact-content .laundro-contact-column .column-content {
	margin-left: 20px;
}

.laundro-contact-info .laundro-contact-content .laundro-contact-column .column-content h5 {
	margin-bottom: 5px;
}

.laundro-contact-info .laundro-contact-content .laundro-contact-column:hover {
	-webkit-box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
	box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
}

@media (max-width: 767.98px) {
	.laundro-contact-info .laundro-contact-content .laundro-contact-column {
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
}