/************ Services Section ***************/

.laundro-services .laundro-service-wrapper .laundro-single-item {
	position: relative;
	padding: 25px;
	padding-left: 35px;
}

.laundro-services .laundro-service-wrapper .laundro-single-item.sr-item {
	margin-bottom: 100px;
}

@media (max-width: 767.98px) {
	.laundro-services .laundro-service-wrapper .laundro-single-item.sr-item {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-icon-wrapper {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
	box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-content {
	margin-top: 25px;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-content h6 {
	position: relative;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	display: inline-block;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-content h6::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 40px;
	height: 3px;
	background-color: #22d3ee;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-content p {
	margin-top: 20px;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-content a {
	margin-top: 20px;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover {
	position: absolute;
	top: -110px;
	left: 0;
	width: 100%;
	background-color: #dee5eb;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .img-wrapper {
	position: relative;
	overflow: hidden;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .img-wrapper img {
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .img-wrapper .img-shadow {
	position: absolute;
	width: 130%;
	height: 120%;
	background-image: url(../images/services/shadow.png);
	bottom: -60px;
	left: -80px;
	z-index: 1;
	background-size: cover;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .img-wrapper::after {
	content: '';
	position: absolute;
	bottom: 6px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 110%;
	height: 80px;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	background-color: #ffffff;
	z-index: 1;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .img-wrapper::before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 110%;
	height: 80px;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	background-color: #dee5eb;
	z-index: 2;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .icon-wrapper {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
	box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -120px;
	position: relative;
	z-index: 15;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .icon-wrapper .laundro-img {
	border-radius: 50%;
	background-color: #ffffff;
	padding: 20px;
	position: relative;
	z-index: 2;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .icon-wrapper .laundro-icon-shadow {
	position: absolute;
	display: inline-block;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/* background-color: #0431b8; */
	z-index: -1;
}

.laundro-services .laundro-service-wrapper .laundro-single-item .laundro-sr-hover .laundro-sr-content {
	padding: 25px;
}

.laundro-services .laundro-service-wrapper .laundro-single-item:hover::after {
	opacity: 0;
}

.laundro-services .laundro-service-wrapper .laundro-single-item:hover .laundro-sr-hover {
	opacity: 1;
	visibility: visible;
}

.laundro-services .laundro-service-wrapper .laundro-single-item:hover .laundro-sr-hover .icon-wrapper {
	-webkit-animation: 0.5s ct_fadeInDown forwards;
	animation: 0.5s ct_fadeInDown forwards;
}

.laundro-services .laundro-service-wrapper .laundro-single-item:hover .laundro-sr-hover .laundro-sr-content h6 {
	-webkit-animation: 0.3s ct_fadeInUp forwards;
	animation: 0.3s ct_fadeInUp forwards;
}

.laundro-services .laundro-service-wrapper .laundro-single-item:hover .laundro-sr-hover .laundro-sr-content p {
	-webkit-animation: 0.6s ct_fadeInUp forwards;
	animation: 0.6s ct_fadeInUp forwards;
}

.laundro-services .laundro-service-wrapper .laundro-single-item:hover .laundro-sr-hover .laundro-sr-content a.laundro-readmore-btn {
	-webkit-animation: 1s ct_fadeInUp forwards;
	animation: 1s ct_fadeInUp forwards;
}

.laundro-services .laundro-service-wrapper .laundro-single-item.slick-active::after {
	content: '';
	position: absolute;
	top: 50%;
	left: -20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 1px;
	height: 50%;
	border: 1px dashed #eaeaea;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-services .laundro-service-wrapper .slick-list {
	padding: 100px 0px 80px 0;
}

.laundro-services .laundro-service-wrapper .slick-arrow {
	position: absolute;
	top: 50%;
	left: 0px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: none;
	background-color: #eaeaea;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #082680;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	opacity: 0;
}

.laundro-services .laundro-service-wrapper .slick-arrow:hover {
	background-color: #082680;
	color: #ffffff;
}

.laundro-services .laundro-service-wrapper .slick-arrow.next-arrow {
	left: auto;
	right: 0px;
}

.laundro-services:hover .slick-arrow {
	opacity: 1;
}

.laundro-services:hover .slick-arrow.prev-arrow {
	left: -80px;
}

@media (max-width: 767.98px) {
	.laundro-services:hover .slick-arrow.prev-arrow {
		left: -40px;
	}
}

.laundro-services:hover .slick-arrow.next-arrow {
	right: -40px;
}

@media (max-width: 767.98px) {
	.laundro-services .laundro-service-slider {
		max-width: 400px;
		display: block;
		margin: 0 auto;
	}
	.laundro-services .laundro-service-slider .laundro-single-item {
		text-align: center;
	}
	.laundro-services .laundro-service-slider .laundro-single-item .laundro-sr-content h6::after {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}















/************************ Pricing Table *******************/

.laundro-pricing-table .pricing-table-area {
	margin-top: 30px;
}

.laundro-pricing-table .pricing-table-area .pricing-nav {
	text-align: center;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul {
	display: inline-block;
	border-bottom: 0;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul li {
	display: inline-block;
	margin-right: 35px;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul li a {
	color: #082680;
	font-size: 18px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	text-transform: capitalize;
	position: relative;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul li a::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -26px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border: 2px solid #eaeaea;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul li a::after {
	content: '';
	position: absolute;
	top: 50%;
	left: -19px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ffffff;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul li a.active {
	color: #0e0e0e;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul li a.active::before {
	border-color: #22d3ee;
}

.laundro-pricing-table .pricing-table-area .pricing-nav ul li a.active::after {
	background-color: #22d3ee;
}

.laundro-pricing-table .pricing-table-area .pricing-nav .offer-price {
	background-color: #def8fc;
	color: #082680;
	font-size: 12px;
	padding: 6px 10px;
	display: inline-block;
	margin-left: -15px;
	font-weight: 700;
	text-transform: capitalize;
}

.laundro-pricing-table .pricing-table-area .pricing-content {
	margin-top: 30px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
	box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
	padding: 60px 20px 40px 20px;
	text-align: center;
	margin-bottom: 30px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-top .pc-top-title {
	font-size: 14px;
	color: #22d3ee;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-top h4 {
	margin-bottom: 3px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-top .pc-subtitle {
	color: #666666;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-price {
	margin-top: 15px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-icon-wrapper {
	margin-top: 20px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-icon-wrapper img {
	width: 80px;
	display: inline-block;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-list {
	margin-top: 20px;
	padding: 0 45px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-list p {
	font-size: 13px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-list span {
	font-weight: 700;
	font-size: 18px;
	margin-top: 8px;
	display: inline-block;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column .pc-btn a {
	padding: 10px 28px;
	background-color: #0431b8;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	margin-top: 20px;
	display: inline-block;
	border-radius: 3px;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column.best-choise {
	padding-top: 35px;
	background-color: #0431b8;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column.best-choise .pc-top h4 {
	color: #ffffff;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column.best-choise .pc-top .pc-subtitle {
	color: #ffffff;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column.best-choise .pc-price h2 {
	color: #ffffff;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column.best-choise .pc-list p {
	color: #ffffff;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column.best-choise .pc-list span {
	color: #ffffff;
}

.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column.best-choise .pc-btn a {
	background-color: #22d3ee;
}

@media (max-width: 767.98px) {
	.laundro-pricing-table .pricing-table-area .pricing-content .pricing-column {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
}
